body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:70px;
  width:900px;
  height:590px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:590px;
}
#u1 {
  position:absolute;
  left:2px;
  top:287px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:141px;
  width:500px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:29px;
  top:192px;
  width:571px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:31px;
  top:242px;
  width:539px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:31px;
  top:341px;
  width:89px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:31px;
  top:468px;
  width:39px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
  color:#0066CC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:140px;
  top:341px;
  width:89px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:363px;
  width:50px;
  height:15px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:160px;
  top:363px;
  width:60px;
  height:15px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:40px;
  top:274px;
  width:460px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:30px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:27px;
  top:268px;
  width:10px;
  height:42px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u21 {
  position:absolute;
  left:10px;
  top:1px;
  width:900px;
  height:70px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:70px;
}
#u22 {
  position:absolute;
  left:2px;
  top:27px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:30px;
  top:20px;
  width:294px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:33px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:630px;
  top:18px;
  width:294px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:630px;
  top:40px;
  width:294px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:92px;
  top:91px;
  width:550px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:31px;
  top:118px;
  width:859px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:842px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:859px;
  height:1px;
}
#u32 {
  position:absolute;
  left:31px;
  top:88px;
  width:50px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:31px;
  top:420px;
  width:110px;
  height:30px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:30px;
  top:70px;
  width:859px;
  height:6px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:6px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-5px;
  width:855px;
  visibility:hidden;
  word-wrap:break-word;
}
