   <h1 class="heading-large">Is this a group scheme?</h1>
 <!-- radio buttons start -->
         <div class="form-block">
           <div class="text panel-indent"><p>
              Group schemes include companies that are controlled by the parent company that set the scheme up.
              </p></div>
           <!--<details>
            <summary><span class="summary">What is a group plan?</span></summary>
            <div class="panel-indent">
              <p>
               Some information about group plans.
              </p>
            </div>
          </details>-->
<form action="" method="post" class="form">
            <fieldset>
              <legend></legend>
              
              <div class="form-group">

                <label for="radio-1" class="block-label">
                  <input id="radio-1" type="radio" name="radio-group" value="start">
                  Yes<br>
                </label>

                <label for="radio-2" class="block-label">
                  <input id="radio-2" type="radio" name="radio-group" value="Complete a return">
                  No
                </label>
                </div>
            </fieldset>
           
            <p></p>
          </div>