
      <h1 class="heading-large">Submit your end of year EMI return</h1>
     <p class="text font-medium">Use this service if you operate an Enterprise Management Incentives (EMI) scheme or arrangement and need to submit your return at the end of the tax year. This service replaces form EMI40.</p>
     <h2 class="heading-medium">Before you start</h2>
     <p class="text">You'll need to know if options were adjusted, replaced, released, lapsed, cancelled or exercised during the tax year. If any of these things have happened, you'll need to record the events in a spreadsheet and save it to your computer in the '.ods' format. Your spreadsheet must have the same name and follow the same structure as the template supplied by HM Revenue and Customs. </p>

  <p class="text">If relevant, you'll need to provide the details of any qualifying subsidiary companies.</p>
  