
      <h1 class="heading-large">Submit your end of year SIP return</h1>
     <p class="text font-medium">Use this service if you operate a Share Incentive Plan (SIP) and need to submit your return at the end of the tax year. This service replaces form 39.</p>
     <h2 class="heading-medium">Before you start</h2>
     <p class="text">You’ll need to know if any shares have been awarded or have ceased to be part of the plan during the tax year. If any of these things have happened, you’ll need to record the events in a spreadsheet and save it to your computer in the '.ods' format. Your spreadsheet must have the same name and follow the same structure as the template supplied by HM Revenue and Customs.</p>
  <p class="text">You'll also need to add the details of any trustees and, if relevant, provide group plan information and report any alterations that have been made in relation to the plan.</p>
