
      <h1 class="heading-large">Submit your end of year SAYE return</h1>
     <p class="text font-medium">Use this service if you operate a Save As Your Earn (SAYE) scheme and need to submit your return at the end of the tax year. This service replaces the need for you to use form 34 to file your return. </p>
     <h2 class="heading-medium">Before you start</h2>
     <p class="text">You’ll need to know if any options were granted, exercised, released or exchanged under this scheme during the tax year. If relevant, you’ll also need to provide group scheme information and report any alterations or variations to share capital that have been made in relation to the scheme.</p>

  <p class="text">If options have been granted, exercised, released or exchanged, you’ll need to upload your spreadsheet as an OpenDocument Spreadsheet (ODS file).</p>
     <div class="text panel-indent"><p class="text">
                ODS files are a type of spreadsheet that makes <a href="https://www.gov.uk/government/publications/open-standards-for-government/sharing-or-collaborating-with-government-documents" rel="external">sharing or collaborating with government documents</a> easier. 
                </p></div>