
      <h1 class="heading-large">Submit your end of year SAYE return</h1>
     <p class="text font-medium">Use this service if you operate a Save As You Earn (SAYE) scheme and need to submit your return at the end of the tax year. This service replaces form 34.</p>
     <h2 class="heading-medium">Before you start</h2>
     <p class="text">You'll need to know if any options were granted, exercised, released (including exchanges), lapsed or cancelled under this scheme during the tax year. If any of these things have happened, you'll need to record the events in a spreadsheet and save it to your computer in the '.ods' format. Your spreadsheet must have the same name and follow the same structure as the template supplied by HM Revenue and Customs.</p>

  <p class="text">If relevant, you’ll need to provide group scheme information and report any alterations or variations to share capital that have been made in relation to the scheme.</p>
