
      <h1 class="heading-large">Submit your end of year Other return</h1>
     <p class="text font-medium">Use this service if you operate an Other scheme and need to submit your return at the end of the tax year. This service replaces form 42.</p>
     <h2 class="heading-medium">Before you start</h2>
     <p class="text">You'll need to know if there have been any events in relation to options and/or securities (including shares) in the schemes and arrangements registered under this scheme. If there have been related events, you'll need to record the events in a spreadsheet and save it to your computer in the '.ods' format. Your spreadsheet must have the same name and follow the same structure as the template supplied by HM Revenue and Customs. </p>

  <p class="text">If relevant, you’ll need to provide the details of any other companies covered by this return.</p>
