  <h1 class="heading-large">Add trustees</h1>
    <div class="form-block">
             
<form action="" method="post" class="form">
            <fieldset>
              <legend></legend>
              
              <!--div4  start--><div class="form-group">
          <label for="first-name" class="form-label"><span class="bold-small">Name</span></label>
              <input type="text" class="form-control" id="first-name">
              
            <!--div4  end--></div>
            <!--div5  start--><div class="form-group">
            <label for="company-address1" class="form-label"><span class="bold-small">Address</span></label>
              <input type="text" class="form-control" id="company-address1">
            <label for="company-address2" class="form-label"></label>
              <input type="text" class="form-control" id="company-address2">
              <label for="company-address3" class="form-label"></label>
              <input type="text" class="form-control" id="company-address2">
              <label for="company-address3" class="form-label"></label>
              <input type="text" class="form-control" id="company-address2">
            <!--div5  end--></div>
            <div class="form-group">
          <label for="postcode-name" class="form-label"><span class="bold-small">Postcode</span> (optional)</label>
              <input type="text" class="form-control-1-8" id="postcode-name" maxlength="8">
            <!--div7  end--></div> 
            <!--div6  start--><div class="form-group">
          <label for="country-name" class="form-label"><span class="bold-small">Country</span> (optional)</label>
              <input type="text" class="form-control-1-4" id="country-name">
            </div> <!--div6  end-->
            <!--div7  start-->
            
            <p class="text"></p>
            <!--div8  start-->
            
            <p class="text"></p>
          <!--div11 <details>
            <summary><span class="summary">Where can I find the CTR?</span></summary>
             <div class="panel-indent">
              <p class="text">
               If hint is long place here.
              </p>
            </div> 
          </details> ends-->
        </div>   <!--div10  ends--> 