{{<layout}}

{{$pageTitle}}Your Company Share Option Plan - Submit return{{/pageTitle}}
{{$afterHeader}}
		<div class="outer-block">
				<div class="inner-block">
						<div class="phase-banner">
								<p class="text">
										<strong class="phase-tag">ALPHA</strong>
										<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
								</p>
						</div>
				</div>
		</div>
{{/afterHeader}}

{{$content}}
	{{>hmrc_banner}}
	

<main id="content" role="main">
	  <div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
	<h1>Step 2 of 2<br>
		<span class="heading-large">Spreadsheet formatting successful</span></h1>
		<br>
		<div style="background-color: #28A197; text-align: center; color: #ffffff; padding: 2px;">
					<p class="heading-medium">No formatting errors have been found in your spreadsheet</p>
								
							</div>
												
					<h2 class="heading-medium">What happens next?<h2>
								<p>You can check your spreadsheet again, or check another spreadsheet whenever you want. Regular checks help you to identify and correct errors, making it easier for you to submit your return at the end of the tax year.</p>
										<ul class="list-bullet"><li><a href="check_scenario1_2">Check a spreadsheet.</a></li></ul>
									

							<div>

 <!-- main content ends -->
	</div>
</div>
</div>

</main>
{{/content}}

{{/layout}}
