{{<layout}}

{{$pageTitle}}Your Company Share Option Plan - Submit return{{/pageTitle}}
{{$afterHeader}}
		<div class="outer-block">
				<div class="inner-block">
						<div class="phase-banner">
								<p class="text">
										<strong class="phase-tag">ALPHA</strong>
										<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
								</p>
						</div>
				</div>
		</div>
{{/afterHeader}}

{{$content}}
	{{>hmrc_banner}}
	
<main id="content" role="main">
	<div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
<h1>Step 2 of 2<br>
		<span class="heading-large">Error report</span></h1>
		<br>
								<div class="icon-important" style="display: inline-block; float: left"></div>
								<div style="display: inline-block; padding-left: 10px; float: left">
							<p>Your spreadsheet contains some formatting errors</p>
							<p>Download the error report PDF to see what the errors are.</p>
						</div>
							<p></p>

							<div style="clear:both; border-bottom: 1px solid #bfc1c3">
								<a class="button medium" id="btnValidation" type="button" href="/public/pdf/errors_checking_service.pdf">Download error report (PDF, 500k)</a>
							<p></p>
							</div>								
						<div>
							<p></p>
							<h2 class="heading-medium">What happens next?<h2>
								<p>Correct your spreadsheet before you check it again, or check another spreadsheet.</p>
								<ul class="list-bullet"><li><a href="check_scenario1_2">check a spreadsheet.</a></li></ul>

</div>
					
 <!-- main content ends -->
	</div>
</div>
</div>

</main>
{{/content}}

{{/layout}}
