{{<layout}}

{{$pageTitle}}Checking Service - HMRC{{/pageTitle}}
{{$afterHeader}}
		<!--<div class="outer-block">
				<div class="inner-block">
						<div class="phase-banner">
								<p class="text">
										<strong class="phase-tag">ALPHA</strong>
										<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
								</p>
						</div>
				</div>
		</div>-->
{{/afterHeader}}
{{$content}}
	{{>hmrc_banner}}
	
<main id="content" role="main">
	<div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
	 <h3 class="heading-small" style="text-align: right;">Company Share Option Plan<br>
	 	Formatting error report</h3>
	 	<h1 class="heading-medium">11 Formatting errors were identified in your spreadsheet.</h1>
	 	<h2 class="heading-small">Summary of errors</h2>
	 	 <ul class="list-bullet">
          <li>5 cells are not formatted to the correct number of decimal places</li>
          <li>2 cells have invalid National Insurance numbers </li>
          <li>2 cells have invalid yes/no entries</li>
          <li>1 cell is not in number format</li>
          <li>1 item index is not in sequential order</li>
      </ul>
      <br>

<h2 class="heading-small">Errors by sheet</h2>
<table cellspacing="0" class="default">
												<thead>
													<tr>
														<th colspan="3">Sheet: CSOP_OptionsGranted_V0</th>
														</tr>
													<tr>
														<th>Column</th>
														<th>Row</th>
														<th>Error</th>
													
													</tr>
												</thead>
												<tbody id="summary">
													<tr>
													<td>F</td><td>14</td><td>Cell has invalid entry. NI Number should be 2 characters and 6 digits followed by 1 character</td>
												</tr>
													<tr>
													<td>G</td><td>16</td><td>Cell not formatted to 2 decimal places.</td>
												</tr>
													<tr>
													<td>I</td><td>24</td><td>Cell not formatted to 2 decimal places.</td>
												</tr>
													<tr>
													<td>K</td><td>15</td><td>Cell not formatted to 4 decimal places.</td>
												</tr>
													<tr>
													<td>L</td><td>17</td><td>Cell not in number format.</td>
												</tr>
													<tr>
													<td>M</td><td>21</td><td>Cell not formatted to 2 decimal places.</td>
												</tr>
													</tbody>
											</table>
											<br>
											<!--table 2-->
											<table cellspacing="0" class="default">
												<thead>
													<tr>
														<th colspan="3">Sheet: CSOP_OptionsGranted_V0</th>
														</tr>
													<tr>
														<th>Column</th>
														<th>Row</th>
														<th>Error</th>
													
													</tr>
												</thead>
												<tbody id="summary">
													<tr>
													<td>F</td><td>24</td><td>Item index is not in the original sequential order.</td>
												</tr>
													<tr>
													<td>K</td><td>33</td><td>Cell has invalid yes/no entry.</td>
												</tr>
													<tr>
													<td>K</td><td>10013</td><td>Cell has invalid yes/no entry.</td>
												</tr>
													</tbody>
											</table>
<!-- table 3-->
								<table cellspacing="0" class="default">
												<thead>
													<tr>
														<th colspan="3">Sheet: CSOP_OptionsRCL_V0</th>
														</tr>
													<tr>
														<th>Column</th>
														<th>Row</th>
														<th>Error</th>
													
													</tr>
												</thead>
												<tbody id="summary">
													<tr>
													<td>F</td><td>14</td><td>Cell has invalid entry. NI Number should be 2 characters and 6 digits followed by 1 character.</td>
												</tr>
													<tr>
													<td>G</td><td>16</td><td>Cell not formatted to 2 decimal places.</td>
												</tr>
													<tr>
													<td>F</td><td>14</td><td>Cell not formatted to 2 decimal places.</td>
												</tr>
													<tr>
													<td>F</td><td>14</td><td>Cell not formatted to 4 decimal places.</td>
												</tr>
													<tr>
													<td>F</td><td>14</td><td>Cell not in number format.</td>
												</tr>
													<tr>
													<td>F</td><td>14</td><td>Cell not formatted to 2 decimal places.</td>
												</tr>
													</tbody>
											</table>

								

								
</div>
					
 <!-- main content ends -->
	</div>
</div>
</div>

</main>
{{/content}}

{{/layout}}
