// Import elements
@import 'elements';

// Set up main content
#content {
  @include outer-block;
  padding-bottom: 120px;
}

.inner-block {
  @include inner-block;
}

// Your styles here

.help_container {
    clear: both
}

  #content {
  @include outer-block;
  padding-bottom: 120px;
}

.hmrc-banner {
    border-left: 2px solid #009390;
    display: block;
    font-family: Helvetica,Arial;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    margin: 15px 0;
    padding: 3px 0 2px 8px;
    text-decoration: none;
    text-transform: none;
}
 
.hmrc-crest{
    height: 28px;
    width: 28px;
    display: inline-block;
    background:url('../images/icons/crests/hmrc_crest_18px.png') no-repeat;
    vertical-align: middle;
}

// larger table text

table th, table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;}


//green confirmation box

.confirmation {
background-color: #28A197;
 text-align: center;
  color: #ffffff; 
  padding: 2px;

}

//grey bottom border

.bottom-grey {
clear: both;
border-bottom: 1px solid #bfc1c3}

//icon-important

.icon-important
{
display: inline-block; 
float: left; 
background-repeat: no-repeat; 
height: 80px; 
width: 50px
}
