// Import elements
@import 'elements';

// Set up main content
#content {
  @include outer-block;
  padding-bottom: 120px;
}

.inner-block {
  @include inner-block;
}

// Your styles here
.hmrc-banner {
    border-left: 2px solid #009390;
    display: block;
    font-family: Helvetica,Arial;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    margin: 15px 0;
    padding: 3px 0 2px 8px;
    text-decoration: none;
    text-transform: none;
}
 
.hmrc-crest{
    height: 28px;
    width: 28px;
    display: inline-block;
    background:url('../images/crests/hmrc_crest_18px.png') no-repeat;
    vertical-align: middle;
}

.help_container {
    clear: both
}
table th, table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;}

  #content {
  @include outer-block;
  padding-bottom: 120px;
}
