// Import elements
@import 'elements';

// Set up main content
#content {
  @include outer-block;
  padding-bottom: 120px;
}

.inner-block {
  @include inner-block;
}

// Your styles here

.help_container {
    clear: both
}

  #content {
  @include outer-block;
  padding-bottom: 120px;
}

.drop-down {
  padding: 4px;
  font-size: 19px; }

  .progress {

  border-top: 2px solid grey;
  border-bottom: 2px solid grey;


  }


  .progress_active {

 
  
  color: #000000;
  font-weight: bold;

  }


.hmrc-banner {
    border-left: 2px solid #009390;
    display: block;
    font-family: Helvetica,Arial;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    margin: 15px 0;
    padding: 3px 0 2px 8px;
    text-decoration: none;
    text-transform: none;
}
 
.hmrc-crest{
    height: 28px;
    width: 28px;
    display: inline-block;
    background:url('../images/icons/crests/hmrc_crest_18px.png') no-repeat;
    vertical-align: middle;
}

// larger table text

table th, table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;}


//green confirmation box

.confirmation {
background-color: #28A197;
 text-align: center;
  color: #ffffff; 
  padding: 2px 120px 30px 120px;

}

//grey bottom border

.bottom-grey {
clear: both;
border-bottom: 1px solid #bfc1c3}

//icon-important

.icon-important
{
display: inline-block; 
float: left; 
background-repeat: no-repeat; 
height: 80px; 
width: 50px
}

//TCR

.main-nav {
  border-bottom: 1px solid #ccc;
  margin: 2em 0;
}
.main-nav .tab {
  display: inline-block;
  padding: 12px 20px;
  font-size: 19px;
  position: relative;
}
.main-nav .tab.selected {
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 12px 19px 13px 19px;
  background: #fff;
  text-decoration: none;
  color: #000;
  margin-bottom: -1px;
  line-height: 28px;
}
.main-nav .tab .count {
  display: inline-block;
  background: #b10e1e;
  color: #fff;
  padding: 7px 0.5em 5px;
  margin-left: 10px;
  font-size: 16px;
  text-decoration: none;
  line-height: 16px;
}

    .TCR td,
    th {
        background: transparent;
        border: 0;
        border-bottom: 1px solid #BFC1C3;
        padding: 0.73684em 1.05263em 0.52632em 0px;
        font-weight: 400;
    }

    .TCR th {
        width: 70%;
    }

    .TCR {
        width: 100%;
    }

    .TCR {
        margin-bottom: 3em;
    }

    .total-row td,
    .total-row th {
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        font-weight: 800;
    }

    .side-nav {
        margin-top: 45px;
    }
    .side-nav li {
        border-bottom: 1px solid #ddd;
        margin-bottom: 0;
        width: 90%;
    }
    .side-nav a {
        padding: 8px 0 8px 5px;
        text-decoration: none;
        font-size: 19px;
        display: block;
    }
    .side-nav a:hover {
        text-decoration: underline;
    }
    .side-nav .active {
        color: #000;
        background: #F8F8F8;
    }
    .side-nav .active:hover {
        text-decoration: none;
    }
    @media (max-width: 640px) {
        .page-header {
            padding: 0px 15px;
        }
        .side-nav li {
            width: 100%;
        }
    }

    .details-block
    {
    display: block;
    

    }

    .service-info__help {
color: #0b0c0c;
}
.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  .tabs li {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    box-sizing: border-box;
    margin-bottom: 0px;
    border-bottom: 1px solid #bfc1c3; }
    .tabs li a {
      padding: 12px 6px;
      display: block;
      text-decoration: none;
      position: relative; }
      .tabs li a span {
        position: absolute;
        width: 25px;
        height: 25px;
        background: #b10e1e;
        text-align: center;
        color: #fff;
        vertical-align: middle;
        top: 2px;
        right: 2px; }
    .tabs li a:hover {
      background: #f8f8f8; }
  .tabs li.active {
    border-width: 1px;
    border-style: solid;
    border-color: #bfc1c3 #bfc1c3 #dee0e2 #bfc1c3;
    background-color: #dee0e2; }
    .tabs li.active a:hover {
      background: none; }

.tab-content {
  display: none; }

.tab-content.active {
  display: block; }

.breadcrumbs {
  list-style: none outside none;
  text-transform: none;
  margin-top: 10px; }
  .breadcrumbs li {
    float: left;
    margin: 0 0.5em 0.4em 0;
    padding-right: 1em; }

.navigation-list {
  margin-right: 40px;
  margin-top: 0; }
  .navigation-list li {
    position: relative; }
    .navigation-list li h1 {
      margin-top: 0px; }
      .navigation-list li h1 a {
        display: block;
        width: 100%;
        height: auto;
        padding: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        position: relative;
        float: left; }
        .navigation-list li h1 a:after {
          content: "";
          width: 16px;
          height: 16px;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: rotate(-45deg);
          margin-top: -8px;
          border-width: 2px;
          border-style: solid;
          border-color: transparent #bfc1c3 #bfc1c3 transparent; }
    .navigation-list li:first-child a {
      border-top: 1px solid #bfc1c3; }

a .nav-title {
  display: block;
  float: left;
  width: 100%;
  text-decoration: underline;
  font-weight: 700;
  font-size: 22px; }

a .nav-detail {
  display: block;
  float: left;
  width: 100%;
  color: #6f777b;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400; }

.service-alert {
  padding: 10px;
  border: 1px solid #bfc1c3; }

.obscure {
  border: none; }
  .obscure:disabled {
    background: none;
    opacity: 1;
    color: #000; }

.toggle-obscure {
  text-decoration: underline;
  color: #005ea5; }

.notifications {
  background-color: #dee0e2;
  border: 1px solid #bfc1c3;
  border-top: 0px;
  padding: 0 15px 20px; }

.notice {
  width: 100%;
  clear: both;
  border-bottom: 1px solid #ccc;
  float: left;
  padding-top: 0.4em;
  position: relative; }

.notice-date {
  width: 20%;
  float: left;
  padding-top: 0.5em; }

.notice-info {
  width: 100%;
  float: right;
  cursor: pointer; }

.showandhide {
  background: none repeat scroll 0 0 #e5eecc;
  border: 1px solid #c3c3c3;
  margin: auto;
  padding: 5px;
  text-align: center;
  width: 90%; }

.notice-info {
  position: relative;
  font-size: 0.9em; }
  .notice-info h3 {
    margin-left: 30px; }

.notice-info:before {
  content: "";
  border-width: 8px;
  border-color: transparent transparent transparent #333;
  border-style: solid;
  position: absolute;
  top: 30px;
  left: 8px; }

.notice-info.clicked:before {
  border-color: #333 transparent transparent transparent;
  left: 4px;
  top: 30px; }

.notice:nth-last-of-type(2) {
  border-bottom: none; }

.panel {
  padding-left: 30px; }

.manage-notices {
  padding-top: 20px;
  clear: both;
  padding-left: 20px; }

.count-messages {
  background-color: #b10e1e;
  padding: 0 7px;
  color: #fff;
  margin-left: 10px; }

.personal-details dl {
  width: 100%;
  clear: both;
  float: left;
  overflow: auto;
  display: block;
  margin-bottom: 1em; }
  .personal-details dl dt {
    float: left;
    clear: both;
    width: 30%;
    margin-bottom: 0.3em; }
  .personal-details dl dd {
    background: none no-repeat left top;
    float: right;
    width: 60%;
    margin-bottom: 0.3em; }

.back-button-wrap {
  margin: 40px 0 20px 0; }

.back-button-wrap .back {
  font-size: 19px;
  color: #000;
  border-bottom: 1px solid #000;
  text-decoration: none; }

.tile {
  width: 85%;
  float: left; }

.tile a {
  display: inline-block;
  text-decoration: none;
  overflow: hidden; }

.tile-right {
  width: 85%;
  float: right; }

.tile-right a {
  display: inline-block;
  margin-bottom: 13px; }

.tile-right-b {
  width: 85%;
  float: right; }

.tile-right-b a {
  display: inline-block;
  text-decoration: none;
  overflow: hidden; }

/* Promo tile */
.promo {
  background-color: #D5E8F3;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px; }
  .promo h3 {
    margin-top: 20px; }

.employment h3.heading-small {
  margin-top: 35px; }

.related-link a {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  padding-bottom: 25px; }
  .related-link a .related-title {
    display: block;
    float: left;
    width: 100%;
    text-decoration: underline;
    font-size: 19px; }
  .related-link a .related-description {
    display: block;
    float: left;
    width: 100%;
    color: #6f777b;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400; }

