{{<layout}}

{{$pageTitle}}Your Company Share Option Plan - Submit return{{/pageTitle}}
{{$afterHeader}}
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p>
                    <strong class="phase-tag">ALPHA</strong>
                    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                </p>
            </div>
        </div>
    </div>
{{/afterHeader}}

{{$content}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
   <div class="outer-block">
   <div class="inner-block">
      <!-- main content starts -->
  <h3 class="heading-xsmall">Example Company Plan CSOP 1 - Scheme reference: XY1100000608980</h3>
  <h1 class="heading-large">Have any alterations been made to the scheme or to options during the tax year?</h1>
 <!-- radio buttons start -->
          <div class="form-block">
           <details>
            <summary><span class="summary">What do we mean by alterations?</span></summary>
            <div class="panel-indent">
              <p>
               Some information about alterations or amends.
              </p>
            </div>
          </details>
<form action="" method="post" class="form">
            <fieldset>
              <legend></legend>
              
              <div class="form-group">

                <label for="radio-1" class="block-label">
                  <input id="radio-1" type="radio" name="radio-group" value="start">
                  Yes<br>
                </label>

                <label for="radio-2" class="block-label">
                  <input id="radio-2" type="radio" name="radio-group" value="Complete a return">
                  No
                </label>
                </div>
            </fieldset>
           
            <p></p>
          </div>
          
            <p>
              <a class="button" href="alterations_check_scenario1_7">Continue</a>
            </p>    
          </form>
          <p class="text"><a href="group_company_edit_scenario1_5">Back</a></p>


 <!-- main content ends -->
  </div>
</div>
</main>
{{/content}}

{{/layout}}
