{{<layout}}

{{$pageTitle}}Submit end of year return{{/pageTitle}}
{{$afterHeader}}
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p>
                    <strong class="phase-tag">ALPHA</strong>
                    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                </p>
            </div>
        </div>
    </div>
{{/afterHeader}}

{{$content}}
  {{>hmrc_banner}}

<main id="content" role="main">
   
<div class="outer-block">
  <div class="inner-block">
  <!-- main content starts -->
  <h3 class="heading-xsmall">Example Company Plan CSOP 1 - Scheme reference: XY1100000608980</h3>
  <h1 class="heading-large">Upload a spreadsheet</h1>
 <!-- radio buttons start -->
          <p>Choose the CSOP spreadsheet that you want to upload.</p>

          <div class="text panel-indent"><p>
              Your spreadsheet needs to be an OpenDocument Spreadsheet (ODS file). ODS files are a type of spreadsheet that makes <a href="https://www.gov.uk/government/publications/open-standards-for-government/sharing-or-collaborating-with-government-documents" rel="external">sharing or collaborating with government documents</a> easier. 
              </p></div>
                     <!--<details>
            <summary><span class="summary">What are format errors?</span></summary>
            <div class="panel-indent">
              <p>
               Some information about formatting errors.
              </p>
            </div>
            </details>
            <br>
            <p>Your spreadsheet must be in OpenDocument Spreadsheet (.ods) format</p>-->
         
                    <!-- <details>
            <summary><span class="summary">What is ods format?</span></summary>
            <div class="panel-indent">
              <p>
               Some information about ods.
              </p>
            </div>
            </details>
           <h2 class="heading-medium">Choose and upload your spreadsheet.</h2>-->

          <div id="question1" class="form-group">
                  <div id="browsefilebox" class="question-body">                 
                    <div class="form1">       
                      <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                      <!--<div id="btnHolder"><button id="selectFileBtn" class="button-secondary">Choose your file</button></div>-->
                      <div id="selectedFileName">&nbsp;</div>     
                    </div>                  
                  </div>
                </div>
                     <p>
              <a class="button" href="errors_scenario2_4">Upload spreadsheet</a>
            </p>    
          </form>
          <p class="text"><a href="what_scenario2_2">Back</a></p>


 <!-- main content ends -->
 </div>
  </div>
</main>
{{/content}}

{{/layout}}
