{{<layout}}

{{$pageTitle}}Your Company Share Option Plan - Submit return{{/pageTitle}}
{{$afterHeader}}
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p>
                    <strong class="phase-tag">ALPHA</strong>
                    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                </p>
            </div>
        </div>
    </div>
{{/afterHeader}}

{{$content}}
  {{>hmrc_banner}}

<div class="outer-block">  
<main id="content" role="main">
   <div class="inner-block">
  <!-- main content starts -->
  <h3 class="heading-xsmall">Your Company Share Option Plan (CSOP) - Scheme reference: XY1100000608980</h3>
  <h1 class="heading-large">Upload spreadsheet</h1>
 <!-- radio buttons start -->
<p class="form-hint">Move the part about completing an ODS file onto a separate page</p>
          <p>We need to check your completed spreadsheet for format errors before you can submit your annual return. 
         
                     <details>
            <summary><span class="summary">What are format errors?</span></summary>
            <div class="panel-indent">
              <p>
               Some information about format errors.
              </p>
            </div>
            </details>
            <br><br>
<p>Your spreadsheet must be in OpenDocument Spreadsheet (.ods) format</p>
         
                     <details>
            <summary><span class="summary">What is ods format?</span></summary>
            <div class="panel-indent">
              <p>
               Some information about ods.
              </p>
            </div>
            </details>
           <h2 class="heading-medium">Choose and upload your spreadsheet.</h2>

          <div id="question1" class="form-group">
                  <div id="browsefilebox" class="question-body">                 
                    <div class="form1">       
                      <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                      <!--<div id="btnHolder"><button id="selectFileBtn" class="button-secondary">Choose your file</button></div>-->
                      <div id="selectedFileName">&nbsp;</div>     
                    </div>                  
                  </div>
                </div>


                     <p>
              <a class="button" href="group_scenario1_3">Upload spreadsheet</a>
            </p>    
          </form>
          <p class="text"><a href="start_scenario2">Back</a></p>


 <!-- main content ends -->
 </div>
  </div>
</main>
{{/content}}

{{/layout}}
