{{<layout}}

{{$pageTitle}}Your Company Share Option Plan - Submit return{{/pageTitle}}
{{$afterHeader}}
		<div class="outer-block">
				<div class="inner-block">
						<div class="phase-banner">
								<p class="text">
										<strong class="phase-tag">ALPHA</strong>
										<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
								</p>
						</div>
				</div>
		</div>
{{/afterHeader}}

{{$content}}
	{{>hmrc_banner}}
	

<main id="content" role="main">
	  <div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
<h3 class="heading-xsmall">Example Company Plan CSOP 1 - Scheme reference: XY1100000608980</h3>
		<h1 class="heading-large">Confirmation receipt</h1>
		<div style="background-color: #28A197; text-align: center; color: #ffffff; padding: 2px;">
					<h1 class="heading-large">CSOP nil return submitted</h1>
								<p></p>	
								<p>Scheme name<br>
								<span class="heading-medium">Example Company Plan CSOP 1</span></p>		
								<p></p>					
								<p>Unique scheme reference<br>
								<span class="heading-medium">XY1100000608980</span></p>
								<p>Tax year<br>
								<span class="heading-medium">2015/16</p>
								<p></p>
								<p>Date and time submitted<br>
								<span class="heading-medium">15 July 2015, 15:54 pm</span></p>		
							</div>
							<p></p>
							<p></p>
							<p></p>
							<div class="icon-important" style="display: inline-block; float: left"></div>
							<div style="display: inline-block; padding-left: 10px; float: left">
							<p>To finish this return submission, download the PDF confirmation and save for your records</p>
							<p>The PDF confirmation is your record of completing the return on time.</p>
						</div>
							<p></p>
							<div style="clear:both; border-bottom: 1px solid #bfc1c3">
								<a class="button medium" id="btnValidation" type="button" href="public/pdf/receipt.pdf">Download confirmation (PDF, 500k)</a>
							<p></p>
							</div>								
						<div>
							<p></p>
							<h2 class="heading-medium">What happens next?<h2>
								<p>The status of your scheme submission will be updated on the the HRMC portal within 48 hours. To see the status of your scheme
									log in to the HMRC portal and visit the <a href="">View Schemes and Arrangements</a> page.</p>

							<div>

 <!-- main content ends -->
	</div>
</div>
</div>

</main>
{{/content}}

{{/layout}}
