{{<layout}}

{{$pageTitle}}Your Company Share Option Plan - Submit return{{/pageTitle}}
{{$afterHeader}}
		<div class="outer-block">
				<div class="inner-block">
						<div class="phase-banner">
								<p class="text">
										<strong class="phase-tag">ALPHA</strong>
										<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
								</p>
						</div>
				</div>
		</div>
{{/afterHeader}}

{{$content}}
	{{>hmrc_banner}}
	
<main id="content" role="main">
	<div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
	<h3 class="heading-xsmall">Your Company Share Option Plan (CSOP) - Scheme reference: XY1100000608980</h3>
	<h1 class="heading-large">Add company details</h1>
		<div class="form-block">
					 <!-- help text -->
					 
<form action="" method="post" class="form">
						<fieldset>
							<legend></legend>
							
							<div class="form-group">
					<label for="company-name" class="form-label">Company name</label>
							<input type="text" class="form-control" id="company-name">
						</div>
						<div class="form-group">
						<label for="company-address1" class="form-label">Address</label>
							<input type="text" class="form-control" id="company-address1">
						<label for="company-address2" class="form-label"></label>
							<input type="text" class="form-control" id="company-address2">
							<label for="company-address3" class="form-label"></label>
							<input type="text" class="form-control" id="company-address2">
							<label for="company-address3" class="form-label"></label>
							<input type="text" class="form-control" id="company-address2">
						</div>
						<div class="form-group">
					<label for="country-name" class="form-label">Country</label>
							<input type="text" class="form-control-1-4" id="country-name">
						</div> 
						<div class="form-group">
					<label for="postcode-name" class="form-label">Postcode</label>
							<input type="text" class="form-control-1-8" id="postcode-name" maxlength="8">
						</div> 
						<p class="text"></p>
						<div class="form-group">
					<label for="crn-name" class="form-label">Company Registration Number (CRN)
						<span class="form-hint">If hint is short place here</span></label>
							<input type="text" class="form-control-1-4" id="crn-name">
						<p class="text"></p>
						<details>
						<summary><span class="summary">Where can I find the CRN?</span></summary>
						<div class="panel-indent">
							<p class="text">
							 If hint is long place here.
							</p>
						</div>
					</details> 
				</div>    
				<div class="form-group">
					<label for="ctr-name" class="form-label">Corporate Tax Reference (CTR)
					<span class="form-hint">If hint is short place here</span></label></label>
							<input type="text" class="form-control-1-4" id="ctr-name">
						<p class="text"></p>
					<details>
						<summary><span class="summary">Where can I find the CTR?</span></summary>
						<div class="panel-indent">
							<p class="text">
							 If hint is long place here.
							</p>
						</div>
					</details> 
				</div>    
			<fieldset>
					<a class="button" href="group_company_edit_scenario1_5">Continue</a>
						</p>    
					</form>
					<p class="text"><a href="group_scenario1_3">Back</a></p>


 <!-- main content ends -->
	</div>
</div>
</main>
{{/content}}

{{/layout}}
