{{<layout}}

{{$pageTitle}}Your Company Share Option Plan{{/pageTitle}}
{{$afterHeader}}
		<div class="outer-block">
				<div class="inner-block">
						<div class="phase-banner">
								<p>
										<strong class="phase-tag">ALPHA</strong>
										<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
								</p>
						</div>
				</div>
		</div>
{{/afterHeader}}

{{$content}}
	{{>hmrc_banner}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	<div class="inner-block">
		<h3 class="heading-xsmall">Your Company Share Option Plan (CSOP) - Scheme reference: XY1100000608980</h3>
		<h1 class="heading-large">Submit end of year return</h1>
	 <p>Here is the text for the introduction of the service</p>
	 <h2 class="heading-medium">Before you start</h2>
	 <p>Here is the text for what the user needs to know before they start</p>
	 <p>
	<a class="button button-get-started" href="what_scenario1_2">Start now</a>
	</p>		
	 <!-- main content ends -->
	</div>
</div>
</main>
{{/content}}

{{/layout}}
