{{<layout}}

{{$pageTitle}}Your Company Share Option Plan - Submit return{{/pageTitle}}
{{$afterHeader}}
		<div class="outer-block">
				<div class="inner-block">
						<div class="phase-banner">
								<p class="text">
										<strong class="phase-tag">ALPHA</strong>
										<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
								</p>
						</div>
				</div>
		</div>
{{/afterHeader}}

{{$content}}
	{{>hmrc_banner}}
	
<main id="content" role="main">
	<div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
	<h3 class="heading-xsmall">Example Company Plan CSOP 1 - Scheme reference: XY1100000608980</h3>
	<h1 class="heading-large">Your end of year return is nearly complete</h1>
	<p>If you’re happy with the information that you’ve provided below, tick the declaration and then submit your nil return.</p>
		<div class="form-block">
					 <!-- help text -->
					 <!--table-->
					 <table cellspacing="0" class="default">
					 	<tr>
														<th>Section</th>
														<th>Your answers</th>
														<th></th>
														</tr>
													<tbody id="summary">
												
<tr>
													<td>Uploaded spreadsheet</td><td>NameOfSpreadsheet.ods</a></td><td><a class="editCompanyDetails" href="check_scenario3_3">Change this</a></td>
												</tr>
												<tr>
													<td>Is this a group scheme?</td><td>Yes</a></td><td><a class="editCompanyDetails" href="group_scenario1_3">Change this</a></td>
												</tr>
												<tr>
													<td>Companies in the group scheme</td><td>Abacus Incorporated<br>Pixel Art Limited</td><td><a class="editCompanyDetails" href="group_company_edit_scenario1_5">Change this</a></td>

													</tr>
												<tr>
													<td>Have alterations been made to the scheme?</td><td>Yes</a></td><td><a class="editCompanyDetails" href="alterations_scenario1_6">Change this</a></td>
												</tr>
												<tr>
													<td>Alterations made to the scheme</td><td>Change to exercise rights<br>
Change to/variation of the share capital<br>
Extension to the life of the scheme<br>
Other</td><td><a class="editCompanyDetails" href="alterations_check_scenario1_7">Change this</a></td>
												</tr>
											</tbody>
											</table>
											<br>
												<br>
											<div id="question1" class="form-group">
               <div class="icon-important" style="display: inline-block; float: left"></div>
              <div style="display: inline-block; padding-left: 10px; float: left">
              <p> Please tick the declaration checkbox below</p>
                      
                      </div>

											<div style="clear:both">			
									<label class="block-label declaration" for="checkbox0"><input type="checkbox" id="checkbox0">To the best of my knowledge and belief the information I have given is correct and complete</label>
								</div>
						
<div style="clear:both">
	<br>
						<p>
							<a class="button" href="confirmation_scenario3_11">Submit end of year return</a>
						</p>    
					</div>
					<p class="text"><a href="alterations_check_scenario3_9">Back</a></p>


 <!-- main content ends -->
	</div>
	</div>
	</div>
</div>
</main>
{{/content}}

{{/layout}}
