{{<layout}}

{{$pageTitle}}Group plan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">

    <a href="/" class="example-back-link">Back to the prototyping kit</a>

    <h1 class="heading-xlarge">
      GOV.UK elements
      <span class="heading-secondary">
        Layout, typography, colour, images, icons, forms, buttons and data.
      </span>
    </h1>

    <p class="text">
      Take a look at the <a href="http://govuk-elements.herokuapp.com/">GOV.UK elements guide</a>.
      <br>
      This protype provides these styles as a starting point for creating pages.
    </p>
    <p class="text">
      Here's a few example pages:
    </p>

    <ul class="text list-bullet">
      <li><a href="/examples/elements/grid-layout">List 1</a></li>
      <li><a href="/examples/elements/typography">List 2</a></li>
      <li><a href="/examples/elements/forms">List 3</a></li>
    </ul>


  </div>
</main>
</main>
{{/content}}

{{/layout}}
