{{<layout}}

{{$pageTitle}}Your Company Share Option Plan{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	<div class="inner-block">
		<h1 class="heading-large">Tax Credits change of circumstances</h1>
		<h2 class="heading-medium">Review your changes before sending</h2>
		<article role="article" class="group full-width">
 
<div class="grid-2-3">
<table class="inbox">
  <thead>
    <tr>
      <th class="unread"></th>
      <th class="subject">Children</th>
      
      <th class="date"></th>
    </tr>
  </thead>


  <tbody>
    <tr class="unread">
      <td><span class="count">New children</span></td>
      <td><span class="preview secondary-text">
      John Smith
      </span></td>
     
      <td><a href="">Change new children</a></td>
    </tr>
  
  </tbody>
</table>

<br>
 <p><a class="button" href="alterations_scenario1_6">Send my changes</a></p>


	 <!-- main content ends -->
	</div>
</div>
</main>
{{/content}}

{{/layout}}
