body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:70px;
  width:900px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:135px;
  width:500px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:29px;
  top:177px;
  width:455px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:31px;
  top:581px;
  width:49px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
  color:#0066CC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:31px;
  top:239px;
  width:349px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:31px;
  top:320px;
  width:550px;
  height:15px;
  text-decoration:underline;
  color:#0000FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:31px;
  top:358px;
  width:859px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:842px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:859px;
  height:1px;
}
#u13 {
  position:absolute;
  left:30px;
  top:390px;
  width:349px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:30px;
  top:419px;
  width:510px;
  height:15px;
  text-decoration:underline;
  color:#0000FF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:92px;
  top:91px;
  width:550px;
  height:15px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:31px;
  top:118px;
  width:859px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:842px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:859px;
  height:1px;
}
#u20 {
  position:absolute;
  left:31px;
  top:88px;
  width:50px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:32px;
  top:274px;
  width:190px;
  height:30px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:10px;
  top:1px;
  width:900px;
  height:70px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:70px;
}
#u26 {
  position:absolute;
  left:2px;
  top:27px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:30px;
  top:20px;
  width:294px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:33px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:613px;
  top:18px;
  width:294px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:613px;
  top:40px;
  width:294px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:30px;
  top:70px;
  width:859px;
  height:6px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:6px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-5px;
  width:855px;
  visibility:hidden;
  word-wrap:break-word;
}
