{{<layout}}

{{$pageTitle}}Submit end of year return{{/pageTitle}}
{{$afterHeader}}
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p>
                    <strong class="phase-tag">ALPHA</strong>
                    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                </p>
            </div>
        </div>
    </div>
{{/afterHeader}}

{{$content}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
  <div class="outer-block">
   <div class="inner-block">
  <!-- main content starts -->
  <h3 class="heading-xsmall">Example Company Plan SIP 1 - Scheme reference: XY1100000608980</h3>
  <h1 class="heading-large">What do you want to do?</h1>
 <!-- radio buttons start -->
          <p>You can:</p>
                  <ul class="list-bullet"><li>declare a nil return if no options were granted, exercised, released or exchanged during the tax year</li>
                  <li>upload a spreadsheet if options were granted, exercised, released or exchanged during the tax year</li></ul>
                   <div class="form-block">
          <!-- <details>
            <summary><span class="summary">What are reportable events?</span></summary>
            <div class="panel-indent">
              <p>
               Some information about reportable events.
              </p>
            </div>
          </details>-->
<form action="" method="post" class="form">
            <fieldset>
              <legend></legend>
              
              <div class="form-group">

                <label for="radio-1" class="block-label">
                  <input id="radio-1" type="radio" name="radio-group" value="start">
                  Declare a nil return<br>
                </label>

                <label for="radio-2" class="block-label">
                  <input id="radio-2" type="radio" name="radio-group" value="Complete a return">
                  Upload a spreadsheet
                </label>
                </div>
            </fieldset>
           
            <p></p>
          </div>
          
            <p>
              <a class="button" href="check_scenario2_3">Continue</a>
            </p>    
          </form>
          <p class="text"><a href="scenario2_0_Start_SIP">Back</a></p>


 <!-- main content ends -->
  </div>
</div>
</main>
{{/content}}

{{/layout}}
