{{<layout}}

{{$pageTitle}}Submit end of year return{{/pageTitle}}
{{$afterHeader}}
    <div class="outer-block">
        <div class="inner-block">
            <div class="phase-banner">
                <p class="text">
                    <strong class="phase-tag">ALPHA</strong>
                    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                </p>
            </div>
        </div>
    </div>
{{/afterHeader}}

{{$content}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
   <div class="outer-block">
   <div class="inner-block">
       {{>sub_header_SAYE}}
  {{>alterations}}
      
            <p class="text">
              <a class="button" href="scenario3_7_Alterations_Check_SAYE">Continue</a>
            </p>    
          </form>
          <p class="text"><a href="scenario3_5_Group_Edit_SAYE">Back</a></p>


 <!-- main content ends -->
  </div>
</div>
</main>
{{/content}}

{{/layout}}
