{{<layout}}

{{$pageTitle}}Submit end of year return{{/pageTitle}}
{{$afterHeader}}
		<div class="outer-block">
				<div class="inner-block">
						<div class="phase-banner">
								<p class="text">
										<strong class="phase-tag">ALPHA</strong>
										<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
								</p>
						</div>
				</div>
		</div>
{{/afterHeader}}

{{$content}}
	{{>hmrc_banner}}
	
<main id="content" role="main">
	 <div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
		{{>sub_header_SAYE}}
	<h1 class="heading-large">Companies in this group scheme</h1>
		<div class="form-block">
					 <!-- help text -->
			<p><a href="scenario1_3_Group_Details_SAYE">Add a company</a> <p>	
		<table cellspacing="0" class="default">
												<thead>
													<tr>
														<th></th>
														<th>Company name</th>
														<th>Address</th>
														<th>Company Registration<br> Number (CRN)</th>
														<th>Corporation Tax<br> Reference (CTR)</th>
														<th></th>
													</tr>
												</thead>
												<tbody id="summary">
													<tr>
													<td>1</td><td>Abacus Incorporated</td><td>Building Name<br># Street Name<br>Area<br>Town<br>NE1 1AA.</td><td>XXXXXXX</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="scenario1_3_Group_Details_SAYE">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
												</tr>
												<tr>
													<td>2</td><td>Pixel Art Limited</td><td>Building Name<br># Street Name<br>Area<br>Town<br>NE1 1AA.</td><td>XXXXXXX</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="scenario1_3_Group_Details_SAYE">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
												</tr>
													<tr id="companyDetails">
														<td colspan="6"><a href="scenario1_3_Group_Details_SAYE"><span class="font-small">Add a company</span></a></td>
													</tr></tbody>
											</table>
<p></p>

<form action="" method="post" class="form">
						<fieldset>
							<legend></legend>
							
			</fieldset>
					<a class="button" href="scenario1_5_Alterations_SAYE">Continue</a>
						  
					</form>
					<p class="text"><a href="scenario1_3_Group_Details_SAYE">Back</a></p>


 <!-- main content ends -->
</div>
	</div>
</div>
</main>
{{/content}}

{{/layout}}
