body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:1px;
  width:900px;
  height:70px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:70px;
  width:900px;
  height:590px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:590px;
}
#u3 {
  position:absolute;
  left:2px;
  top:287px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:31px;
  top:141px;
  width:500px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:29px;
  top:192px;
  width:571px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:20px;
  width:294px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:33px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:630px;
  top:18px;
  width:294px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:630px;
  top:40px;
  width:294px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:31px;
  top:242px;
  width:539px;
  height:46px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:46px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:31px;
  top:286px;
  width:349px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:31px;
  top:501px;
  width:39px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
  color:#0066CC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:31px;
  top:362px;
  width:349px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:50px;
  top:308px;
  width:250px;
  height:15px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:51px;
  top:385px;
  width:239px;
  height:15px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:92px;
  top:91px;
  width:550px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:31px;
  top:118px;
  width:859px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:842px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:859px;
  height:1px;
}
#u29 {
  position:absolute;
  left:31px;
  top:88px;
  width:50px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:31px;
  top:455px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:30px;
  top:70px;
  width:859px;
  height:6px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:6px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-5px;
  width:855px;
  visibility:hidden;
  word-wrap:break-word;
}
